# Frontend Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBzyuIu-zNjbaDXRaqfhVy9PXcHTwSl_Pg"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="food-calorie-estimation-2e3bd.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="food-calorie-estimation-2e3bd"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="food-calorie-estimation-2e3bd.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="638569335788"
NEXT_PUBLIC_FIREBASE_APP_ID="1:638569335788:web:7d448ac8ce31c23dd5cec9"
